# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Entorno
.env

# MLflow
mlruns/
mlartifacts/
mlflow.db

# venv (Fase A crea uno local para desarrollo, no se versiona)
.venv/

# OS
.DS_Store

# Docker
*.log
